:root {
    --background-color: #323437;
    --main-color: #e1b712;
    --main-color-active: #957a0e;
    --secondary-color: #d1d0c5;
    --background-icon-opacity: 5%;
}

body {
    background-color: var(--background-color);
}

/* Page Selector*/
.page-selector {
    position: absolute;
    width: fit-content;
    height: fit-content;

    right: 1vw;
    top: 50%;
    transform: translateY(-50%);

    border-radius: 5px;
    background-color: var(--background-color);

    display: flex;
    flex-flow: column nowrap;
    gap: clamp(10px, 0.75vw, 100px);
}

.page-selector .dot {
    background-color: var(--secondary-color);
    width: 1.5vw;
    height: 1.5vw;
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
}

.page-selector .dot:not(.active) {
    cursor: pointer;
}

.page-selector .dot.active {
    background-color: var(--main-color);
}

/* Section 1*/
/* Icon Background */
.section-1 .icon-background {
    width: 105vw;
    height: 100vh;
    overflow: hidden;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: wrap row;
    flex-flow: wrap row;
}

.section-1 .icon-background .iconWrapper {
    position: relative;
    width: 5vw;
    height: 5vw;
    min-width: 75px;
    min-height: 75px;
}

.section-1 .icon-background .iconWrapper .icon {
    position: absolute;
    color: #fff;
    opacity: var(--background-icon-opacity);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

@media screen and (min-width: 1600px) {
    .section-1 .icon-background .iconWrapper .icon {
        font-size: 2vw;
    }
}

/* Main Container */
.section-1 .main-container {
    position: absolute;
    transform: translateY(-70%);
    top: 50%;
    margin-left: 2vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: baseline;
    align-content: baseline;

    font-family: "Source Code Pro", sans-serif;
}

.section-1 .main-container .profile-img-container {
    position: relative;
    background-color: var(--main-color);
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
}

.section-1 .main-container .profile-img-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 66%;
    height: auto;
}

.section-1 .main-container .title {
    width: fit-content;
    height: fit-content;

    font-weight: 400;
    color: var(--main-color);
    font-size: 6.5vw;
    text-align: center;
}

@media screen and (max-width: 1900px) {
    .section-1 .main-container .title {
        font-size: 6.5vw;
    }
}

@media screen and (max-width: 1200px) {
    .section-1 .main-container .title {
        font-size: 80px;
    }
}

@media screen and (max-width: 900px) {
    .section-1 .main-container .profile-img-container {
        width: 135px;
        height: 135px;
    }

    .section-1 .main-container .title {
        font-size: 73px;
    }
}

@media screen and (max-width: 600px) {
    .section-1 .main-container .title {
        font-size: 55px;
    }
}

@media screen and (max-width: 450px) {
    .section-1 .main-container .title {
        font-size: 35px;
    }
}

/* Link Container*/
.section-1 .link-container {
    position: absolute;
    bottom: 1vw;
    left: 2vw;
    font-size: 16px;
}

@media screen and (min-width: 1400px) {
    .section-1 .link-container {
        font-size: 1.5vw;
    }
}

.section-1 .link-container i {
    color: var(--main-color);
}

.section-1 .link-container span {
    color: var(--main-color);
    font-family: "Source Code Pro", sans-serif;
    font-weight: 400;
    line-height: 0;

    cursor: pointer;
}

.section-1 .link-container span:not(.muted):hover {
    text-decoration: underline;
}

.section-1 .link-container span.muted {
    color: var(--secondary-color);
    margin-left: 0;
}

/* Section 2*/
.section-2 .main-container {
    position: absolute;
    width: 40vw;
    height: fit-content;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.section-2 .main-container .title {
    width: 100%;
    display: block;
    margin-bottom: 10px;

    font-family: "Source Code Pro", sans-serif;
    font-weight: 200;
    color: var(--secondary-color);
    text-align: center;
    font-size: 2vw;
}

.section-2 .main-container .about-me {
    width: 100%;
    display: block;
    margin-bottom: 30px;

    font-family: "Source Code Pro", sans-serif;
    font-weight: 200;
    color: var(--secondary-color);
    text-align: center;
    font-size: 1vw;
}

.section-2 .main-container .services-grid-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    width: 100%;
}

.section-2 .main-container .service-item-container {
    position: relative;
    flex: 1 0 50%;
}

.section-2 .main-container .service-item-container .service-item {
    display: flex;
    align-items: center;
}

.section-2 .main-container .service-item-container.plus-more .service-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2 .main-container .service-item-container .service-item i {
    color: var(--main-color);
    margin-right: 5px;
    font-size: 1vw;
}

.section-2 .main-container .service-item-container .service-item span {
    font-family: "Source Code Pro", sans-serif;
    color: var(--secondary-color);
    font-size: 1vw;
    font-weight: 200;
    text-align: center;
    width: 100%;
}

.section-2 .main-container .service-item-container.plus-more .service-item span {
    width: fit-content;
}

@media screen and (max-width: 1900px) {
    .section-2 .main-container {
        width: 60vw;
    }

    .section-2 .main-container .title {
        font-size: 2.5vw;
    }

    .section-2 .main-container .about-me {
        font-size: 1.25vw;
    }

    .section-2 .main-container .service-item-container .service-item span,
    .section-2 .main-container .service-item-container .service-item i {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 1000px) {
    .section-2 .main-container .title {
        font-size: 25px;
    }

    .section-2 .main-container .about-me,
    .section-2 .main-container .service-item-container .service-item i,
    .section-2 .main-container .service-item-container .service-item span {
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {
    .section-2 .main-container {
        width: 85vw;
    }

    .section-2 .main-container .services-grid-container {
        gap: 10px;
    }
}

/* Section 3 */
.section-3 .timeline-grid-container {
    position: absolute;
    min-height: 80%;
    max-height: 100%;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
}

.section-3 .timeline-grid-container .timeline-line {
    content: '';
    position: absolute;

    height: 100%;
    width: 5px;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    margin-left: -2.5px;

    background-color: var(--secondary-color);
}

.section-3 .timeline-grid-container .timeline-item {
    position: relative;
    flex: 1 0 50%;
    max-width: 50%;
    font-family: "Source Code Pro", sans-serif;
    color: var(--secondary-color);
    font-size: 1vw;
}

/* Declare timeline item distance from the timeline's line*/
.section-3 .timeline-grid-container .timeline-item p {
    --side-margins: 2vw;
    --dot-width: 25px;

    position: relative;
    margin: 0 var(--side-margins);
}

/* Offset right side down */
.section-3 .timeline-grid-container .timeline-item:nth-child(odd) p {
    margin-top: 5vh;
}

/* Position yellow dot onto timeline */
.section-3 .timeline-grid-container .timeline-item p::after {
    /* Offsets by the side margin */
    --offset: calc((var(--side-margins) * -1) - (var(--dot-width) / 2));

    content: '';
    position: absolute;
    top: 0;
    left: var(--offset);
    width: var(--dot-width);
    height: var(--dot-width);
    border-radius: 50%;
    background-color: var(--main-color);
}

/* Position dot onto timeline */
@media screen and (min-width: 800px) {
    /* On all right column items, nullify the left value and instead use the right value*/
    .section-3 .timeline-grid-container .timeline-item:nth-child(even) p::after {
        left: auto;
        right: var(--offset);
    }
}

.section-3 .timeline-grid-container .timeline-item p b {
    color: var(--main-color);
}

@media screen and (max-width: 1200px) {
    .section-3 .timeline-grid-container .timeline-item {
        font-size: 13px;
    }
}

/* Break the two columns into one*/
@media screen and (max-width: 800px) {
    /* Expand the timeline grid container */
    .section-3 .timeline-grid-container {
        width: 80%;
        height: 95%;
    }

    /* Move the timeline to the left */
    .section-3 .timeline-grid-container .timeline-line {
        left: 0;
    }

    /* Make each flex item take up 100% of the space */
    .section-3 .timeline-grid-container .timeline-item {
        flex: 1 0 100%;
        max-width: 100%;
    }

    /* Enlarge the side margin */
    .section-3 .timeline-grid-container .timeline-item p {
        --side-margins: 3vw;
        --dot-width: 20px;

        margin-top: 0!important;
    }
}

@media screen and (max-width: 400px) {
    .section-3 .timeline-grid-container .timeline-item {
        font-size: 12px;
    }

    .section-3 .timeline-grid-container .timeline-item p {
        --side-margins: 15px;
    }
}
